a:link {
    color: #1A2CFF;
}

a:visited {
    color: darkred;
}

body > header {
    display: block;
    background: #5fdf6c;
    padding: 15px;
}

body > header ul {
    margin: 0;
}

body > header > a > img, body > header a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 1.2em;
}

body > footer {
    background: #5fdf6c;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
}

body > main {
    margin-top: 15px;
    margin-bottom: 15px;
}

body > main > article {
    display: block;
}

#logged-in-info {
    float: right;
    margin-right: 30px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

body aside {
    width: 100%;
    background: #5fdf6c;
    text-align: center;
    padding: 15px;
}

body aside h2 {
    margin: 5px 0 15px 0;
}

body aside a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
}

body > main:after {
    content: '';
    display: block;
    clear: both;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.formError {
    color: red;
    font-style: italic;
}