<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::site-head">
    <title id="pTitle" th:text="${post.title}">View Post</title>
</head>
<body>

<header th:insert="layout::site-header"/>

<main id="posts" class="container">
    <article>
        <h2 class="title" th:text="${post.title}">Post Title</h2>
        <a sec:authorize="isAuthenticated()" th:href="@{'/posts/edit/{id}/'(id=${post.id})}">Edit post</a> <a
            sec:authorize="isAuthenticated()" th:href="@{'/posts/delete/{id}'(id=${post.id})}">Remove post</a>
        <div class="date">
            <u>Posted on</u>
            <span th:text="${#dates.format(post.postDate,'dd-MMM-yyyy HH:mm')} + ${post.editDate != null ? ', edited on: '+#dates.format(post.editDate,'dd-MMM-yyyy  HH:mm'):''}">Post Date</span>

            <span th:if="${post.author}" th:remove="tag">
                <u>by</u>
                <span th:text="${post.author.fullName != null ? post.author.fullName:post.author.username}">Post Author</span>
            </span>
        </div>
        <p id="post" class="content" th:utext="${post.HTMLbody}">Post content</p>
    </article>
</main>

<footer th:insert="layout::site-footer"/>

</body>
</html>