<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout::site-head">
    <meta charset="UTF-8" />
    <title id="pTitle">Login to the blog</title>
</head>

<body>

<header th:insert="layout::site-header" />

<h1> Log in to the blog</h1>
<div class="container row">
    <form method="post" th:action="@{/users/login}" class="form col-md-5 col-md-offset-7">
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" id="userName" name="userName" class="form-control"/>
        </div><!-- User name -->

        <div class="form-group">
            <label for="passwordHash">Password</label>
            <input type="password" id="passwordHash" name="passwordHash" class="form-control"/>
        </div><!-- Password -->

        <div class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Login"/>
            <a href="register.html" th:href="@{/users/register}">[Go to Register]</a>
        </div><!-- Submit Button -->
        <div class="form-group alert alert-danger" th:if="${param.error}">Invalid Username or password</div><!-- Error message -->
    </form>

</div>

<footer th:insert="layout::site-footer" />

</body>

</html>