<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout::site-head">
    <meta charset="UTF-8" />
    <title id="pTitle">Blog</title>
</head>

<body>

<header th:insert="layout::site-header" />

<main id="posts" class="container">
    <div class="row">
        <div class="col-md-9">
            <article th:each="post:${latestThreePosts}">
                <a th:href="@{'/posts/view/{id}/'(id=${post.id})}"><h2 class="title" th:text="${post.title}">Post Title</h2></a>
                <div class="date">
                    <u>Posted on</u>
                    <span th:title="${#dates.format(post.postDate,'HH:mm')}" th:text="${#dates.format(post.postDate,'dd-MMM-yyyy')}"></span><span th:title="${#dates.format(post.editDate,'HH:mm')}" th:text="${post.editDate != null ? ', edited on: '+#dates.format(post.editDate,'dd-MMM-yyyy'):''}">Post Date</span>

                    <span th:if="${post.author}" th:remove="tag">
                <u>by</u>
                <span th:text="${post.author.fullName != null ? post.author.fullName:post.author.username}">Post Author</span>
            </span>
                </div>
                <p class="content" th:utext="${post.HTMLbody}">Post content</p>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <h2>Recent posts</h2>
                <a href="#" th:each="post:${latestFivePosts}" th:text="${post.title + ' (' + #dates.format(post.postDate,'dd-MM-yyyy') + ')'} " th:href="@{/posts/view/{id}/(id=${post.id})}">Test</a>
            </aside>
        </div>
    </div>
</main>


<footer th:insert="layout::site-footer" />

</body>

</html>