<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../public/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
    <script src="../public/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script src="../public/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>
    <script src="../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <title th:include=":: #pTitle">Title</title>
    <th:block th:fragment="script">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    </th:block>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <meta th:remove="tag"/>
</head>

<body>
<div th:fragment="site-header">
    <a href="index.html" th:href="@{/}"><b>Spring Blog</b></a>
    <a href="index.html" th:href="@{/}">Home</a>
    <a href="posts.html" th:href="@{/posts}">Posts</a>
    <a href="posts/createNew.html" sec:authorize="isAuthenticated()" th:href="@{/posts/create}">Create Post</a>
    <a href="users/index.html" sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}">Users</a>
    <div id="logged-in-info">
        <div sec:authorize="isAuthenticated()">
					<span>Hello, <b sec:authentication="name"></b>
						Roles: <span sec:authentication="principal.authorities"></span>
					</span>
            <a ref="#" th:href="@{/users/logout}"><span class="fa fa-sign-out"></span>&nbsp;[Logout]</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a href="users/login.html" th:href="@{/users/login}">Login</a>
            <a href="users/register.html" th:href="@{/users/register}">Register</a>
        </div>
    </div>

    <ul id="messages"
        th:with="notifyMessages=${session[T(blog.lib.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
        <li th:each="msg:${notifyMessages}" th:text="${msg.text}" th:class="${#strings.toLowerCase(msg.type)}"></li>
        <span th:if="${notifyMessages}" th:remove="all"
              th:text="${#session.removeAttribute(T(blog.lib.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
    </ul>
</div>
<h1>Welcome</h1>
<p>Hello, world!</p>
<footer th:fragment="site-footer">
    &copy; Mateusz Brdoń, 2020
</footer>
</body>
</html>