<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="layout::site-head">
    <title id="pTitle">View All Posts</title>view.html
</head>

<body>

<header th:insert="layout::site-header"/>

<main id="posts" class="container">
    <article th:each="post:${ posts}">
        <a th:href="@{'/posts/view/{id}/'(id=${post.id})}"><h2 class="title" th:text="${post.title}">Post Title</h2></a>
        <a sec:authorize="isAuthenticated()" th:href="@{'/posts/edit/{id}/'(id=${post.id})}">Edit post</a> <a
            sec:authorize="isAuthenticated()" th:href="@{'/posts/delete/{id}'(id=${post.id})}">Remove post</a>
        <div class="date">
            <u>Posted on</u>
            <span th:title="${#dates.format(post.postDate,'HH:mm')}"
                  th:text="${#dates.format(post.postDate,'dd-MMM-yyyy')}"></span><span
                th:title="${#dates.format(post.editDate,'HH:mm')}"
                th:text="${post.editDate != null ? ', edited on: '+#dates.format(post.editDate,'dd-MMM-yyyy'):''}">Post Date</span>

            <span th:if="${post.author}" th:remove="tag">
                <u>by</u>
                <span th:text="${post.author.fullName != null ? post.author.fullName:post.author.username}">Post Author</span>
            </span>
        </div>
        <p class="content" th:utext="${post.HTMLbody}">Post content</p>
    </article>

    <div class="row">
        <div class="col-md-12">
            <ul class="pagination justify-content-center">
                <li th:class="${posts.number eq 0} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:if="${not posts.first}" th:href="@{${'/posts'}(page=${posts.number-1})}">&laquo;</a>
                    <a class="page-link" th:if="${posts.first}" href="#">&laquo;</a>
                </li>

                <li th:each="pageNo : ${#numbers.sequence(0, posts.totalPages - 1)}"
                    th:class="${posts.number eq pageNo} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:if="${posts.number  eq pageNo}" href="#">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                    <a class="page-link" th:if="${not (posts.number  eq pageNo)}"
                       th:href="@{${'/posts'}(page=${pageNo})}">
                        <span th:text="${pageNo + 1}"></span>
                    </a>

                </li>
                <li th:class="${posts.number + 1 ge posts.totalPages} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:if="${not posts.last}" th:href="@{${'/posts'}(page=${posts.number+1})}">&raquo;</a>
                    <a class="page-link" th:if="${posts.last}" href="#">&raquo;</a>
                </li>
            </ul><!-- ./ pagination -->
        </div><!-- ./ col-md-7 -->
    </div><!-- ./ row -->


</main>


<footer th:insert="layout::site-footer"/>

</body>

</html>